/* RESET BÁSICO */
body {
    overflow-x: hidden;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* MENU */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: black;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.indice a {
    color: white;
    text-decoration: none;

    margin-left: 20px;
    font-weight: bold;
}

.indice a:hover {
    color: #00c3ff;
}

.indice {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
    overflow-x: auto;
}
/* HERO */
.conteudo {
    height: 100vh;
    background-image: url("ChatGPT\ Image\ 25\ de\ mar.\ de\ 2026\,\ 23_53_58.png"); 

    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
}

.conteudo h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.solucoes {
    margin-bottom: 20px;
}

/* BOTÃO */
button {
    background: #1e90ff;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}

/* SERVIÇOS */
.servicos {
    margin-top: -80px; /* efeito de sobreposição */
    background: black;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}

@media (max-widht: 768px) {
    .menu {
        flex-direction: column;
        text-align: center;
    }

    .indice {
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-widht: 768px) {
    .logo {
        margin-bottom: 10px;
    }
    .indice a {
        font-size: 14px;
    }
}
/* CARDS */
.card {
    background: #111;
    padding: 25px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    color: white;

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}
.icon {
    font-size: 40px;
    color: #00c3ff;
    margin-bottom: 15px;
}

.card:hover .icon {
    color:#007bff;
    transform: scale(1.2);
    transition: 0,3s;
}

.projetos {
    background: #0a0a0a;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.projetos h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.projetos .cat {
    margin-bottom: 40px;
    color: #aaa;
}

.grid-projetos {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.projeto-card {
    background: #111;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    cursor: pointer;
    transition: 0.3s;
}

.projeto-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.projeto-card .info {
    padding: 15px;
}

.projeto-card:hover {
      transform: translateY(-10px) scale(1.02);
}

html {
    scroll-behavior: smooth;
}

.menu{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}

menu.scrolled {
    box-shadow: 0 2px 10px rgba(23, 1, 1, 0.5);
}

.conteudo {
    background-image: linear-gradient(rgba(0,0,0,0,0.75),rgba(0,0,0,0.85)), url("WhatsApp\ Image\ 2026-03-18\ at\ 09.07.13\ \(1\).jpeg");   

    background-size: cover;
    background-position: center;
}
.conteudo h1 {
    font-size: 50px;
}

@media (max-width: 768px) {
    .conteudo h1 {
        font-size: 30px;
    }
}

.conteudo {
    opacity: 1;
    transform: translateY(10px);
    animation: aparecer 1s forwards, zoomBg 10s infinite alternate;

     animation: zoomBg 10s infinite alternate;

      background: linear-gradient(rgba(0,0,0,0,7),rgba(0,0,0,7)), url("WhatsApp\ Image\ 2026-03-18\ at\ 09.07.13\ \(1\).jpeg"); 
      
      background-size: 100%;
      background-position: center;
}

@keyframes zoomBg {
    from {
        background-size: 200%;
    }
    to{
        background-size: 110%;
    }
}

.card {
    opacity: 40;
    transform: translateY(50px);
    animation: aparecer 0.8s forwards;
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        text-align:center;
    }

    .indice {
    margin-top: 10px;
    }

    .servicos {
    flex-direction: column;
    align-items:center;
    }

    .grid-projetos {
    flex-direction: column;
    align-items: center;
    }

}

.conteudo{
    margin-top: 80px;
}

.body {
    position: relative;
    z-index: 0;
}
.video-bg {
    position: fixed; /* fica    travado*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;  /* joga pra trás*/
    overflow: hidden;
    pointer-events: none;
}

.video-bg video { 
    width: 100%;
    height: 100%;
    object-fit: cover; /* cobre a tela*/
}

.video-bg {
    z-index: -999;
}

.sobre {
    position: relative;
    z-index: -1;
    padding: 80px 20px;
    text-align: center;
    background: #0a0a0a;
    color: white;
}

.sobre h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.descricao {
    max-width: 600px;
    margin: 0 auto 50px;
    color: #ccc;
}

.equipe {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card-sobre {
    background: #111;
    padding: 20px;
    border-radius: 15px;
    width: 280px;
    transition: 0.3s;
}

.card-sobre:hover {
    transform: translateY(-10px) scale(1.03);
}

.card-sobre img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card-sobre h2 {
    margin-bottom: 10px;
}

.card-sobre p {
    font-size: 14px;
    color: #aaa;
}


.planos {
    padding: 80px 20px;
    text-align: center;
    background: #0a0f1c;
    color: white;
}

.container-planos {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

/* SERVIÇOS */
.servicos-lista {
    max-width: 250px;
    text-align: left;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: linear-gradient(180deg, #0d1b2a, #1b263b);
    padding: 25px;
    border-radius: 15px;
    width: 220px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.preco {
    font-size: 28px;
    margin: 15px 0;
}

.card button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

/* DESTAQUE */
.destaque {
    transform: scale(1.1);
    border: 2px solid #00c3ff;
}

.premium {
    border: 2px solid gold;
}

/* CONTATO */
.contato {
    max-width: 250px;
    text-align: left;
}

.contato input,
.contato textarea {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    border-radius: 8px;
    border: none;
}

.contato button {
    width: 100%;
    padding: 10px;
    background: gold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}

.card {
    min-width: 250px;
    background: #1b263b;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* BOTÕES */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev { left: 0; }
.next { right: 0; }
